[Desktop Entry]
Categories=Game;Emulator;Qt;
Comment[en_US]=Fast-ish PlayStation 1 emulator
Comment=Fast-ish PlayStation 1 emulator
Exec=mangohud gamemoderun duckstation-qt %f
GenericName[en_US]=PlayStation 1 Emulator
GenericName=PlayStation 1 Emulator
Icon=duckstation
MimeType=
Name[en_US]=DuckStation Qt
Name=DuckStation Qt
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=duckstation-qt
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
