[Desktop Entry]
Categories=Game
Comment[en_US]=PlayStation Portable Simulator Suitable for Playing Portably
Comment=PlayStation Portable Simulator Suitable for Playing Portably
Exec=mangohud gamemoderun PPSSPPQt %f
GenericName[en_US]=PSP Emulator
GenericName=PSP Emulator
Icon=ppsspp
MimeType=
Name[en_US]=PPSSPP (Qt)
Name=PPSSPP (Qt)
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
