[Desktop Entry]
Categories=System;TerminalEmulator
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=bash -c 'kitty & kitty'
GenericName=Terminal
Icon=Kitty
Name=Startup Terminals
Terminal=false
Type=Application
Version=1.4
