* {
  border: none;
  color: #dfdfdf;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: bold;
}

#hyprpanel {
  background: #000000;
}

*:selected {
  background: #3c3c3c;
  border-radius: 20px;
  border: none;
}

#vpn {
  margin-right: 7px;
  padding-left: 5px;
}

#button-playerctl {
  background: #000000;
  border-radius: 20px;
  padding: 0;
}

#button-playerctl:hover {
  background: #3c3c3c;
}

#task-box-focused {
  background: #3c3c3c;
  border-radius: 20px;
}

#controls-window,
#calendar-window {
  background: #242424;
  border-radius: 0;
  border-bottom-left-radius: 10px;
}
