[Unit]
Description=Set permissions for disk mount
After=syslog.target systemd-modules-load.service

[Service]
User=root
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/usr/local/sbin/chown-disks.sh

[Install]
WantedBy=multi-user.target