#window,
#box,
#search,
#password,
#input,
#typeahead,
#spinner,
#list,
child,
scrollbar,
slider,
#item,
#text,
#bar,
#listplaceholder,
#label,
#sub,
#activationlabel {
  all: unset;
}

#window {
  color: #ffffff;
}

#box {
  background: #242424;
  border-radius: 10px;
  padding: 20px;
}

#search {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background: #3a3a3a;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid #8a78b2;
}

#password,
#input,
#typeahead {
  padding: 5px;
  border-radius: 10px;
}

#input > *:first-child,
#typeahead > *:first-child {
  margin-right: 10px;
}

#typeahead {
  color: #c4c4c4;
}

#input placeholder {
  opacity: 0.5;
}

#list {
  background: #363636;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: #3c3c3c;
}

#item {
  padding: 10px;
  border-bottom: 1px solid #242424;
}

#sub {
  font-size: smaller;
  color: #8e8e8e;
}

#activationlabel {
  opacity: 0.5;
}

.activation #activationlabel {
  opacity: 1;
  color: #7e57c2;
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}
