* {
  border: none;
  font-family:
    Roboto,
    Arial,
    sans-serif,
    JetBrainsMono Nerd Font;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px;
}

window#waybar {
  background: rgba(0, 0, 0, 1);
  border-radius: 0px;
}

#workspaces button {
  padding: 0 4px 0 0;
  margin: 0 2.5px 0 2.5px;
}

#bluetooth,
#custom-media,
#custom-menu,
#custom-power,
#language,
#memory,
#mode,
#network,
#wireplumber,
#wireplumber.muted #temperature,
#tray,
#window {
  padding: 0 10px;
  font-weight: bold;
}

#clock {
  padding: 0 10px 0 10px;
  font-weight: bold;
}

#battery {
  padding: 0 20px 0 10px;
  font-weight: bold;
}

#custom-vpn,
#idle_inhibitor {
  padding: 0 11px 0 1px;
  font-weight: bold;
}

#custom-separator {
  padding: 0;
}

#custom-power {
  margin: 0 10px 0 0px;
  font-size: 12px;
}

#custom-power {
  font-size: 12px;
}

#custom-notification {
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px 0 0px;
  margin-top: 3px;
}
