* {
  border: none;
  color: #fbfbfb;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background: rgba(0, 0, 0, 1);
}

#window {
  margin-left: 5px;
}

#workspaces button {
  border-radius: 50%;
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 7px;
  padding-top: 0;
}

#custom-vpn {
  margin-left: 12px;
  margin-right: 10px;
}

#idle_inhibitor {
  margin-left: 8px;
  padding-right: 4px;
}

#custom-separator {
  margin-left: 10px;
  margin-right: 10px;
}

#custom-notification {
  font-size: 10px;
  margin-left: 5px;
  margin-top: 3px;
  padding-right: 3px;
}

#backlight {
  padding-right: 4px;
}

#battery {
  margin-left: 10px;
  padding-right: 9px;
}

#custom-power {
  font-size: 12px;
  margin-right: 15px;
}
