[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GWE
Comment=GUI to control cooling and overclock of nVidia cards
Terminal=false
Categories=System;Settings;
Icon=/usr/lib/python3.9/site-packages/gwe/data/com.leinardi.gwe
Exec=gwe --hide-window
X-GNOME-Autostart-enabled=trueHidden=false