#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=System;TerminalEmulator;
Comment=Fast, feature-rich, GPU based terminal
Exec=bash -c 'kitty bash ~/post-install.sh'
GenericName=Terminal emulator
Icon=kitty
Name=kitty
TryExec=kitty
Type=Application
Version=1.0
