[Desktop Entry]
Categories=System;TerminalEmulator;
Comment=Fast, feature-rich, GPU based terminal
Exec=kitty --class=startup-kitty-4
GenericName=Terminal emulator
Icon=kitty
Name=kitty
TryExec=kitty
Type=Application
Version=1.0
