[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=bash -c 'alacritty & alacritty & alacritty & alacritty'
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Startup Terminals
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Actions=New;

X-Desktop-File-Install-Version=0.26